// Swiper custom styles
.swiper {
  width: 100%;
  height: 100%;

  &-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-pagination {
    &-bullet {
      @apply bg-primary-600 opacity-50;

      &-active {
        @apply opacity-100;
      }
    }
  }

  &-button {
    &-prev,
    &-next {
      @apply text-primary-600;

      &:after {
        font-size: 1.5rem;
      }
    }
  }
}
